
<nav>
  <a routerLink="/client/add" routerLinkActive="active">Add Client</a>
  <a routerLink="/client/list" routerLinkActive="active">List Clients</a>
  <a routerLink="/client/filter" routerLinkActive="active">Filter Clients</a>
</nav>
