<div *ngIf="selectedClient">
  <h2>
    {{selectedClient.name | uppercase}} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>




<h2>Clients</h2>


<div>
  <label>Filter clients by book title:
    <input #title></label>
  <input type="submit" (click)="getClientsWithBook(title.value)">
</div>

<div>
  <label>Filter clients by purchase date:
    <input #date type="date"></label>
  <input type="submit" (click)="getClientsWithPurchase(date.value)">
</div>

<ol class="clients">
  <li *ngFor="let client of clients "
      (click)="onSelect(client)">
    {{client.name}}

    <button

      (click)="deleteClient(client);$event.stopPropagation()">delete
    </button>
  </li>

</ol>

<button (click)="goBack()">Back</button>
