<div *ngIf="client">
  <h2>Client {{client.name}} details</h2>
  <div>
    <label>Name: </label> {{client.name}}
    <input placeholder="name">
  </div>
  <div>
    <label> Books:</label>
    <ol>
      <li *ngFor="let purchase of purchases"

          (click)="onSelect(purchase)">

        {{purchase.bookName}},{{purchase.date|date}}
        <button

          (click)="deletePurchase(purchase);$event.stopPropagation()">delete
        </button>
      </li>
    </ol>
  </div>

  <button (click)="goBack();$event.stopPropagation()">Back</button>
  <button (click)="save();$event.stopPropagation()">Save</button>
  <button (click)="buy();$event.stopPropagation()">Buy new book</button>
</div>

<div *ngIf="selectedPurchase">
  <h2>
    {{selectedPurchase.bookName | uppercase}} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
  <label>  Change Date
  <input type= "date" [(ngModel)]="selectedPurchase.date" placeholder="date">
  </label>
  <button (click)="dateChanged();$event.stopPropagation()">Change Date</button>

</div>
