<p>book-detail works!</p>
<div *ngIf="book">
  <h2>BookModel {{book.title}} details</h2>
  <div>
    <label>Title: </label> {{book.title}}
    <input [(ngModel)]="book.title" placeholder="title">
  </div>
  <div>
    <label>Author: </label> {{book.author}}
    <input [(ngModel)]="book.author" placeholder="author">
  </div>
  <div>
    <label>Price: </label> {{book.price}}
    <input [(ngModel)]="book.price" placeholder="price">
  </div>
  <div>
    <label> Clients:</label>
    <ol>
      <li *ngFor="let purchase of purchases">

        {{purchase.idClient}},{{purchase.date|date}}
      </li>
    </ol>
  </div>



  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
