<p>book works!</p>
<nav>
  <a routerLink="/book/add" routerLinkActive="active">Add BookModel</a>
  <a routerLink="/book/list" routerLinkActive="active">List Books</a>
  <a routerLink="/book/filter" routerLinkActive="active">Filter Books</a>
</nav>
